body{
  text-align: center;
}


.productContainer {
  display: flex;
  flex-wrap: no-wrap;
  direction:inherit;
}
.productContainer > .link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
  
}

.productContainer > .link:hover {
  background-color: rgb(211, 211, 211);
}